.poke-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    min-height: 250px;
    cursor: pointer;
    background: linear-gradient(145deg, #fefdfd, #e8e8e8);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.poke-title {
    color: white;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
}

.poke-card-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 12px;
    width: 100%;  

    background-color: #000000;
    border: 3px solid rgba(0,0,0,0.2); 
    box-shadow: 
        0 4px 6px rgba(0,0,0,0.3),
        inset 0 2px 4px rgba(255,255,255,0.2);
}

.poke-image {
    width: 100px;
    height: 100px;
}

.poke-image-background {
    background-color: blanchedalmond;
    margin: 8px;
    
}

.poke-type-font {
    font-size: 10px;
}

.poke-stat-row {
    display: flex;
    justify-content: space-between;
    padding: 0px 8px;
    font-size: 11px;
    color: #4B5EE8; 
    font-weight: bold;
}

/* 
.poke-card-header.poke-type-normal { background: linear-gradient(145deg, #A8A878, #9A9A68); }
.poke-card-header.poke-type-fire { background: linear-gradient(145deg, #F08030, #DD6610); }
.poke-card-header.poke-type-water { background: linear-gradient(145deg, #131314, #010101); }
.poke-card-header.poke-type-grass { background: linear-gradient(145deg, #78C850, #58A830); }
.poke-card-header.poke-type-electric { background: linear-gradient(145deg, #F8D030, #E0B800); }
.poke-card-header.poke-type-ice { background: linear-gradient(145deg, #98D8D8, #78B8B8); }
.poke-card-header.poke-type-fighting { background: linear-gradient(145deg, #C03028, #A01018); }
.poke-card-header.poke-type-poison { background: linear-gradient(145deg, #A040A0, #802080); }
.poke-card-header.poke-type-ground { background: linear-gradient(145deg, #E0C068, #C0A048); }
.poke-card-header.poke-type-flying { background: linear-gradient(145deg, #A890F0, #8870D0); }
.poke-card-header.poke-type-psychic { background: linear-gradient(145deg, #F85888, #D83868); }
.poke-card-header.poke-type-bug { background: linear-gradient(145deg, #A8B820, #889800); }
.poke-card-header.poke-type-rock { background: linear-gradient(145deg, #B8A038, #988018); }
.poke-card-header.poke-type-ghost { background: linear-gradient(145deg, #705898, #503878); }
.poke-card-header.poke-type-dragon { background: linear-gradient(145deg, #7038F8, #5018D8); }
.poke-card-header.poke-type-dark { background: linear-gradient(145deg, #705848, #503828); }
.poke-card-header.poke-type-steel { background: linear-gradient(145deg, #B8B8D0, #9898B0); }
.poke-card-header.poke-type-fairy { background: linear-gradient(145deg, #EE99AC, #CE798C); }

/* ==================== COULEURS AUTOMATIQUES PAR TYPE ==================== */
.poke-card[data-type="normal"] .poke-title,
.poke-card[data-type="normal"] .poke-stat-row { color: #A8A878; }

.poke-card[data-type="fire"] .poke-title,
.poke-card[data-type="fire"] .poke-stat-row { color: #DD6610}

.poke-card[data-type="water"] .poke-title,
.poke-card[data-type="water"] .poke-stat-row { color: #6890F0; }

.poke-card[data-type="grass"] .poke-title,
.poke-card[data-type="grass"] .poke-stat-row { color: #78C850; }

.poke-card[data-type="electric"] .poke-title,
.poke-card[data-type="electric"] .poke-stat-row { color: #F8D030; }

.poke-card[data-type="ice"] .poke-title,
.poke-card[data-type="ice"] .poke-stat-row { color: #98D8D8; }

.poke-card[data-type="fighting"] .poke-title,
.poke-card[data-type="fighting"] .poke-stat-row { color: #C03028; }

.poke-card[data-type="poison"] .poke-title,
.poke-card[data-type="poison"] .poke-stat-row { color: #A040A0; }

.poke-card[data-type="ground"] .poke-title,
.poke-card[data-type="ground"] .poke-stat-row { color: #E0C068; }

.poke-card[data-type="flying"] .poke-title,
.poke-card[data-type="flying"] .poke-stat-row { color: #A890F0; }

.poke-card[data-type="psychic"] .poke-title,
.poke-card[data-type="psychic"] .poke-stat-row { color: #F85888; }

.poke-card[data-type="bug"] .poke-title,
.poke-card[data-type="bug"] .poke-stat-row { color: #A8B820; }

.poke-card[data-type="rock"] .poke-title,
.poke-card[data-type="rock"] .poke-stat-row { color: #B8A038; }

.poke-card[data-type="ghost"] .poke-title,
.poke-card[data-type="ghost"] .poke-stat-row { color: #705898; }

.poke-card[data-type="dragon"] .poke-title,
.poke-card[data-type="dragon"] .poke-stat-row { color: #7038F8; }

.poke-card[data-type="dark"] .poke-title,
.poke-card[data-type="dark"] .poke-stat-row { color: #705848; }

.poke-card[data-type="steel"] .poke-title,
.poke-card[data-type="steel"] .poke-stat-row { color: #B8B8D0; }

.poke-card[data-type="fairy"] .poke-title,
.poke-card[data-type="fairy"] .poke-stat-row { color: #EE99AC; }